In [105]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .appName("limpieza") \
    .getOrCreate()

# Receptivo
Contiene los datos de ingreso al país

In [106]:
df_receptivo = spark.read.csv('../../obligatorio/lnd/receptivo', header=True, sep=',',inferSchema=True)

Asi podemos visualizar los tipos de datos y columnas

In [107]:
df_receptivo.printSchema()

root
 |-- IdIngresos: integer (nullable = true)
 |-- Lugar Ingreso: string (nullable = true)
 |-- IdTranspIngreso: integer (nullable = true)
 |-- Transporte Internacional de Ingreso: string (nullable = true)
 |-- FechaIngreso: date (nullable = true)
 |-- IdFecIng: integer (nullable = true)
 |-- FechaEgreso: date (nullable = true)
 |-- IdFecEgr: integer (nullable = true)
 |-- IdNacionalidad: integer (nullable = true)
 |-- Pais: string (nullable = true)
 |-- IdResidencia: integer (nullable = true)
 |-- Residencia: string (nullable = true)
 |-- IdMotivo: integer (nullable = true)
 |-- Motivo: string (nullable = true)
 |-- IdOcupacion: integer (nullable = true)
 |-- Ocupacion: string (nullable = true)
 |-- IsEstudio: integer (nullable = true)
 |-- Estudio: string (nullable = true)
 |-- IdDestinoLocalidad: integer (nullable = true)
 |-- Localidad: string (nullable = true)
 |-- IdDepartamentoDestino: integer (nullable = true)
 |-- Departamento: string (nullable = true)
 |-- IdOtroDepartamento: integer (nullable = true)
 |-- Otro Departamento: string (nullable = true)
 |-- IdOtraLocalidad: integer (nullable = true)
 |-- Otra Localidad: string (nullable = true)
 |-- IdAlojamiento: integer (nullable = true)
 |-- Alojamiento: string (nullable = true)
 |-- IdTranspLocal: integer (nullable = true)
 |-- TransporteLocal: string (nullable = true)
 |-- IdEgresos: integer (nullable = true)
 |-- Lugar Egreso: string (nullable = true)
 |-- IdTranspEgreso: integer (nullable = true)
 |-- Transporte Internacional de Egreso: string (nullable = true)
 |-- IdDestino: integer (nullable = true)
 |-- Destino: string (nullable = true)
 |-- Estadia: integer (nullable = true)
 |-- Gente: integer (nullable = true)
 |-- GastoTotal: double (nullable = true)
 |-- GastoAlojamiento: double (nullable = true)
 |-- GastoAlimentacion: double (nullable = true)
 |-- GastoTransporte: double (nullable = true)
 |-- GastoCultural: double (nullable = true)
 |-- GastoTours: double (nullable = true)
 |-- GastoCompras: double (nullable = true)
 |-- GastoOtros: double (nullable = true)
 |-- Coef: double (nullable = true)
 |-- CoefTot: double (nullable = true)

### Descripción de las Columnas

- Lugar Ingreso es por donde ingresó y tiene su propio ID (IdIngresos).
- Transporte Internacional de Ingreso es el medio por el cual ingresó y tiene su propio ID (IdTranspIngreso).
- Fecha Ingreso corresponde a la fecha de ingreso con su ID (IdFecIng).
- Fecha Egreso corresponde a la fecha de salida con su ID (IdFecEgr).
- Pais es la nacionalidad de quien ingresó y tiene su propio ID (IdNacionalidad).
- Residencia (lugar de residencia del visitante) con su ID (IdResidencia).
- Motivo de ingreso y cuenta con su propio ID (IdMotivo).
- Ocupacion corresponde a la profesión del turista y tiene un ID (IdOcupacion).
- Estudio es el nivel de estudios del visitante, que tiene su propio ID (IsEstudio), mas adelante le vamos a corregir el nombre de ID para que quede correcto (IdEstudio).
- Destino Localidad es el principal destino de la visita con su ID (IdDestinoLocalidad).
- Departamento corresponde al departamento de destino principal con su ID (IdDepartamentoDestino).
- Otro Departamento es un posible segundo destino y tiene su ID (IdOtroDepartamento).
- Otra Localidad corresponde a una segunda localidad visitada con su ID (IdOtraLocalidad).
- Alojamiento es el tipo de alojamiento utilizado con su ID (IdAlojamiento).
- Transporte Local corresponde al transporte utilizado durante la estadía y tiene un ID (IdTranspLocal).
- Lugar Egreso es por donde se egresó y cuenta con su ID (IdEgresos).
- Transporte Internacional de Egreso corresponde al transporte utilizado para salir del país con su ID (IdTranspEgreso).
- Destino es la zona de destino principal con su ID (IdDestino).
- Estadia representa los días que permaneció en el país.
- Gente es la cantidad de personas del grupo encuestado.
- Gasto Total, Gasto Alojamiento, Gasto Alimentacion, Gasto Transporte, Gasto Cultural, Gasto Tours, Gasto Compras y Gasto Otros corresponde a todos los tipos de gastos posibles, expresado en dólares americanos.
- Coef es el coeficiente de expansión del gasto.
- CoefTot es el coeficiente de expansión de las personas.

# Emisivo
Contiene los datos de egreso al país

In [108]:
df_emisivo = spark.read.csv('../../obligatorio/lnd/emisivo', header=True, sep=',',inferSchema=True)

Asi podemos visualizar los tipos de datos y columnas

In [109]:
df_emisivo.printSchema()

root
 |-- IdLugarSalida: integer (nullable = true)
 |-- Lugar Salida: string (nullable = true)
 |-- IdTranspSalidad: integer (nullable = true)
 |-- Transporte Internacional de Salida: string (nullable = true)
 |-- FechaSalida: date (nullable = true)
 |-- IdFecSalida: integer (nullable = true)
 |-- FechaEntrada: date (nullable = true)
 |-- IdFecEntrada: integer (nullable = true)
 |-- IdNacionalidad: integer (nullable = true)
 |-- Pais: string (nullable = true)
 |-- IdDeptoResidencia: integer (nullable = true)
 |-- Departamento: string (nullable = true)
 |-- IdMotivo: integer (nullable = true)
 |-- Motivo: string (nullable = true)
 |-- IdOcupacion: integer (nullable = true)
 |-- Ocupacion: string (nullable = true)
 |-- IdNivelEstudio: integer (nullable = true)
 |-- Estudio: string (nullable = true)
 |-- IdDestino: integer (nullable = true)
 |-- Destino: string (nullable = true)
 |-- IdAlojamiento: integer (nullable = true)
 |-- Alojamiento: string (nullable = true)
 |-- IdLugarIngreso: integer (nullable = true)
 |-- Lugar Ingreso: string (nullable = true)
 |-- IdTranspIngreso: integer (nullable = true)
 |-- Transporte Internacional de Ingreso: string (nullable = true)
 |-- IdTranspLocal: integer (nullable = true)
 |-- Trasporte Local: string (nullable = true)
 |-- Estadia: integer (nullable = true)
 |-- Gente: integer (nullable = true)
 |-- GastoTotal: double (nullable = true)
 |-- GastoAlojamiento: double (nullable = true)
 |-- GastoAlimentacion: double (nullable = true)
 |-- GastoTransporteInternac: double (nullable = true)
 |-- GatoTransporteLocal: double (nullable = true)
 |-- GastoCultural: double (nullable = true)
 |-- GastoTours: double (nullable = true)
 |-- GastoCompras: double (nullable = true)
 |-- GastoResto: double (nullable = true)
 |-- Coef: double (nullable = true)
 |-- CoefTot: double (nullable = true)

### Descripción de las Columnas

- Lugar Salida es el lugar y tiene su propio ID (IdLugarSalida).
- Transporte Internacional de Salida es el medio de transporte internacional utilizado para la salida, con su propio ID (IdTranspSalidad).
- Fecha Salida del viaje, con su propio ID (IdFecSalida).
- Fecha Entrada al país, con su propio ID (IdFecEntrada).
- Nacionalidad junto con el código que representa la nacionalidad del turista (IdNacionalidad).
- País de destino del viaje.
- Departamento Residencia con su propio ID (IdDeptoResidencia).
- Motivo de ingreso al país, con su propio ID (IdMotivo).
- Ocupación (o profesión) del turista, con su propio ID (IdOcupacion).
- Estudio es el nivel de estudio del turista, con su propio ID (IdNivelEstudio).
- Destino dentro del país con su propio ID (IdDestino).
- Alojamiento es el tipo de alojamiento utilizado, con su propio ID (IdAlojamiento).
- Lugar Ingreso es el lugar por donde se ingresó al país, con su propio ID (IdLugarIngreso).
- Transporte Internacional de Ingreso es el medio de transporte internacional utilizado para el ingreso, con su propio ID (IdTranspIngreso).
- Transporte Local es el medio de transporte local utilizado, con su propio ID (IdTranspLocal).
- Estadía es la cantidad de días de estadía.
- Gente es el número de integrantes del grupo encuestado.
- Gasto Total, Gasto Alojamiento, Gasto Alimentación, Gasto Transporte Internacional, Gasto Transporte Local, Gasto Cultural, Gasto Tours, Gasto Compras y Gasto Resto se refieren a los distintos tipos de gastos realizados, medido en dólares americanos corrientes.
- Coef es el Coeficiente Expansión Gasto.
- CoefTot es el Coeficiente Expansión Personas.

In [110]:
# Quitar columnas que no usamos
df_emisivo = df_emisivo.drop("IdLugarSalida", "IdTranspSalidad", "IdFecSalida", "IdFecEntrada", "IdNacionalidad", "IdDeptoResidencia", "IdMotivo", "IdOcupacion", "IdNivelEstudio", "IdDestino", "IdAlojamiento", "IdLugarIngreso", "IdTranspIngreso", "IdTranspLocal");

In [179]:
df_emisivo.printSchema()

root
 |-- Lugar Salida: string (nullable = true)
 |-- Transporte Internacional de Salida: string (nullable = true)
 |-- FechaSalida: date (nullable = true)
 |-- FechaEntrada: date (nullable = true)
 |-- Pais: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- Motivo: string (nullable = true)
 |-- Ocupacion: string (nullable = true)
 |-- Estudio: string (nullable = true)
 |-- Destino: string (nullable = true)
 |-- Alojamiento: string (nullable = true)
 |-- Lugar Ingreso: string (nullable = true)
 |-- Transporte Internacional de Ingreso: string (nullable = true)
 |-- Trasporte Local: string (nullable = true)
 |-- Estadia: integer (nullable = true)
 |-- Gente: integer (nullable = true)
 |-- GastoTotal: double (nullable = true)
 |-- GastoAlojamiento: double (nullable = true)
 |-- GastoAlimentacion: double (nullable = true)
 |-- GastoTransporteInternac: double (nullable = true)
 |-- GatoTransporteLocal: double (nullable = true)
 |-- GastoCultural: double (nullable = true)
 |-- GastoTours: double (nullable = true)
 |-- GastoCompras: double (nullable = true)
 |-- GastoResto: double (nullable = true)
 |-- Coef: double (nullable = true)
 |-- CoefTot: double (nullable = true)

In [130]:
test = df_emisivo.groupBy("Transporte Internacional de Salida").count()

In [132]:
test.show()

# DUDA: Podriamos normalizar Aereo, Terrestre, Marítimo o sería perder datos?

+----------------------------------+-----+
|Transporte Internacional de Salida|count|
+----------------------------------+-----+
|                             Aereo| 6343|
|                   Terrestre Otros|   60|
|                    Terrestre Auto|11805|
|                Maritimo - Fluvial| 6534|
|                             Otros|   39|
|                     Terrestre Bus| 3283|
+----------------------------------+-----+

In [142]:
# Corregir typo en San Jose
df_emisivo = df_emisivo.withColumn(
    "departamento",
    F.when(F.col("departamento") == "Saqn Jose", "San Jose")
    .otherwise(F.col("departamento"))
)

In [164]:
df_emisivo.groupBy("Motivo").count().show()

# DUDA - MICE podríamos unirlo a Trabajo / Profesión es turismo relacionado a conferencias, exhibiciones, etc.

+--------------------+-----+
|              Motivo|count|
+--------------------+-----+
| Trabajo / Profesion| 3117|
|Visita familiares...| 9117|
|Trabajo remunerad...|   19|
|             Compras| 1036|
|            Estudios|  249|
|           Deportivo|  140|
|Ocio, Recreo, Vac...|13763|
|   Tratamiento Salud|  244|
|Religion y Peregr...|  168|
|               Otros|  201|
|                MICE|   10|
+--------------------+-----+

In [152]:
# Agrupar los valores "Otros", "Sin Datos" y "Desconocido / Sin Datos" en una única categoría "Otros"
df_emisivo = df_emisivo.withColumn(
    "Ocupacion",
    F.when(F.col("Ocupacion").isin("Otros", "Sin Datos", "Desconocido / Sin Datos"), "Otros")
    .otherwise(F.col("Ocupacion"))
)

# Agrupar los valores "Desocupado", "Otra situacion Inactividad" en una única categoría "Desocupado"
df_emisivo = df_emisivo.withColumn(
    "Ocupacion",
    F.when(F.col("Ocupacion").isin("Desocupado", "Otra situacion Inactividad"), "Otros")
    .otherwise(F.col("Ocupacion"))
)

In [160]:
# Actualizar la columna "Estudio" para reemplazar los valores "Sin Datos", "Otros" y null por "Otros"
df_emisivo = df_emisivo.withColumn(
    "Estudio",
    F.when(F.col("Estudio").isin("Sin Datos", "Otros"), "Otros")
    .when(F.col("Estudio").isNull(), "Otros")  # Maneja los valores null
    .otherwise(F.col("Estudio"))
)

In [166]:
# Actualizar la columna "Destino" para reemplazar los valores "Sin Datos" y "Otros" por "Otros"
df_emisivo = df_emisivo.withColumn(
    "Destino",
    F.when(F.col("Destino").isin("Sin Datos", "Otros"), "Otros")
    .otherwise(F.col("Destino"))
)

In [169]:
# Actualizar la columna "Alojamiento" para reemplazar los valores "Sin Datos" y "Otros" por "Otros"
df_emisivo = df_emisivo.withColumn(
    "Alojamiento",
    F.when(F.col("Alojamiento").isin("Sin Datos", "Otros"), "Otros")
    .otherwise(F.col("Alojamiento"))
)

In [171]:
# Corregir typo en Appart Hotel
df_emisivo = df_emisivo.withColumn(
    "Alojamiento",
    F.when(F.col("Alojamiento") == "Appart Hotel", "Apart Hotel")
    .otherwise(F.col("Alojamiento"))
)

In [177]:
# Actualizar la columna "Trasporte Local" para reemplazar los valores "Sin Datos" y "Otros" por "Otros"
df_emisivo = df_emisivo.withColumn(
    "Trasporte Local",
    F.when(F.col("Trasporte Local").isin("Sin Datos", "Otros"), "Otros")
    .otherwise(F.col("Trasporte Local"))
)

In [214]:
df_emisivo = df_emisivo.withColumnRenamed("GastoResto", "GastoOtros")
df_emisivo = df_emisivo.withColumnRenamed("GatoTransporteLocal", "GastoTransporteLocal")

# Asegurarnos de que la suma de todos los gastos y GastoTotal se correspondan

# Crear una nueva columna que calcule la suma de los otros gastos
df_emisivo = df_emisivo.withColumn(
    "SumaGastos",
    F.col("GastoAlojamiento") + F.col("GastoAlimentacion") + F.col("GastoTransporteInternac") + F.col("GastoTransporteLocal") + F.col("GastoCultural") + F.col("GastoTours") + F.col("GastoCompras") + F.col("GastoOtros")
)

# Cuando GastoTotal es mayor que SumaGastos, agregar la diferencia a GastoOtros
df_emisivo = df_emisivo.withColumn(
    "GastoOtros",
    F.when(F.col("GastoTotal") > F.col("SumaGastos"), F.col("GastoOtros") + (F.col("GastoTotal") - F.col("SumaGastos")))
    .otherwise(F.col("GastoOtros"))
)

# Cuando SumaGastos es mayor que GastoTotal, actualizar GastoTotal con el valor de SumaGastos
df_emisivo = df_emisivo.withColumn(
    "GastoTotal",
    F.when(F.col("SumaGastos") > F.col("GastoTotal"), F.col("SumaGastos"))
    .otherwise(F.col("GastoTotal"))
)

df_emisivo = df_emisivo.drop("SumaGastos");

root
 |-- Lugar Salida: string (nullable = true)
 |-- Transporte Internacional de Salida: string (nullable = true)
 |-- FechaSalida: date (nullable = true)
 |-- FechaEntrada: date (nullable = true)
 |-- Pais: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- Motivo: string (nullable = true)
 |-- Ocupacion: string (nullable = true)
 |-- Estudio: string (nullable = true)
 |-- Destino: string (nullable = true)
 |-- Alojamiento: string (nullable = true)
 |-- Lugar Ingreso: string (nullable = true)
 |-- Transporte Internacional de Ingreso: string (nullable = true)
 |-- Trasporte Local: string (nullable = true)
 |-- Estadia: integer (nullable = true)
 |-- Gente: integer (nullable = true)
 |-- GastoTotal: double (nullable = true)
 |-- GastoAlojamiento: double (nullable = true)
 |-- GastoAlimentacion: double (nullable = true)
 |-- GastoTransporteInternac: double (nullable = true)
 |-- GastoTransporteLocal: double (nullable = true)
 |-- GastoCultural: double (nullable = true)
 |-- GastoTours: double (nullable = true)
 |-- GastoCompras: double (nullable = true)
 |-- GastoOtros: double (nullable = true)
 |-- Coef: double (nullable = true)
 |-- CoefTot: double (nullable = true)

In [218]:
df_emisivo.select("Coef", "CoefTot").show() # DUDA: Que hacemos con estas columnas las podemos borrar porque no entendemos que significan

+----+-------+
|Coef|CoefTot|
+----+-------+
+----+-------+

<h1>Cruceros</h1>
Contiene los datos de tráfico de cruceros

In [71]:
df_crucero = spark.read.csv('../../obligatorio/lnd/cruceros', header=True, sep=',',inferSchema=True)

Asi podemos visualizar los tipos de datos y columnas

In [72]:
df_crucero.printSchema()

root
 |-- IdCruceros: integer (nullable = true)
 |-- idNacionalidad: integer (nullable = true)
 |-- Pais: string (nullable = true)
 |-- Fecha: date (nullable = true)
 |-- idfecha: integer (nullable = true)
 |-- idPuerto: integer (nullable = true)
 |-- Puerto: string (nullable = true)
 |-- TotalPersonas: integer (nullable = true)
 |-- CantidadVisitas: integer (nullable = true)
 |-- GastoTotal: double (nullable = true)
 |-- GastoTours: double (nullable = true)
 |-- GastoAlimentacion: double (nullable = true)
 |-- GastoTransporte: double (nullable = true)
 |-- GastoShopping: double (nullable = true)
 |-- GastoOtros: double (nullable = true)

<h3>Descripción de las Columnas</h3>

- IdCruceros es el código identificatorio de los cruceros.
- Pais corresponde a la nacionalidad del entrevistado y tiene su propio ID (idNacionalidad).
- Fecha indica cuándo se realizó la encuesta y tiene un ID (idfecha).
- Puerto es el puerto de arribo del crucerista con su ID (idPuerto).
- Total Personas indica la cantidad de personas en cada grupo.
- Cantidad Visitas representa el número de visitas anteriores del crucerista.
- Gasto Total, Gasto Tours, Gasto Alimentacion, Gasto Transporte, Gasto Shopping, Gasto Otros corresponde a todos los tipos de gastos realizados y su valor en dólares americanos.

decir que probamos que por ejemplo brasil y brazil no pasaba (por eso no agregamos columna de id a paises y a las demas tablas)

In [73]:
# Cantidad de visitas

In [74]:
df_crucero = df_crucero.fillna({'CantidadVisitas': 0}) # Cambiamos a 0 los que tenian valor null

In [75]:
# Para acordarnos, tenemos que ver si todos los datos que tenemos de dinero estan en la misma moneda

In [81]:
# Quitar columnas que no usamos
df_crucero = df_crucero.drop("idNacionalidad", "idPuerto", "idFecha");

In [209]:
df_crucero.printSchema()

root
 |-- IdCruceros: integer (nullable = true)
 |-- Pais: string (nullable = true)
 |-- Fecha: date (nullable = true)
 |-- Puerto: string (nullable = true)
 |-- TotalPersonas: integer (nullable = true)
 |-- CantidadVisitas: integer (nullable = false)
 |-- GastoTotal: double (nullable = true)
 |-- GastoTours: double (nullable = true)
 |-- GastoAlimentacion: double (nullable = true)
 |-- GastoTransporte: double (nullable = true)
 |-- GastoShopping: double (nullable = true)
 |-- GastoOtros: double (nullable = true)

In [83]:
# Asegurarnos de que la suma de todos los gastos y GastoTotal se correspondan

# Crear una nueva columna que calcule la suma de los otros gastos
df_crucero = df_crucero.withColumn(
    "SumaGastos",
    F.col("GastoTours") + F.col("GastoAlimentacion") + F.col("GastoTransporte") + F.col("GastoShopping") + F.col("GastoOtros")
)

# Cuando GastoTotal es mayor que SumaGastos, agregar la diferencia a GastoOtros
df_crucero = df_crucero.withColumn(
    "GastoOtros",
    F.when(F.col("GastoTotal") > F.col("SumaGastos"), F.col("GastoOtros") + (F.col("GastoTotal") - F.col("SumaGastos")))
    .otherwise(F.col("GastoOtros"))
)

# Cuando SumaGastos es mayor que GastoTotal, actualizar GastoTotal con el valor de SumaGastos
df_crucero = df_crucero.withColumn(
    "GastoTotal",
    F.when(F.col("SumaGastos") > F.col("GastoTotal"), F.col("SumaGastos"))
    .otherwise(F.col("GastoTotal"))
)

df_crucero = df_crucero.drop("SumaGastos");

In [92]:
# Para no perder datos, los datos de Crucero con Pais = "Sin Datos" no los borramos pero no vamos a poder considerarlos cuando hagamos mapas de calor por ejemplo. (solo es 1 registro)

# Usando filter
df_sin_datos = df_crucero.filter(F.col("Pais") == "Sin Datos")

print(df_sin_datos.count())

1